button {
width: 259px;
height: 80px;
font-size: 35px;
font-family: 'Roboto', sans-serif;
font-weight: bold;
color: white;
border: 2px solid white;
border-radius: 15px;
margin: 5px;
cursor: pointer;
}
button:hover {
background: #00471b;
}

.boton-clic {
background: #002ead;
}
.boton-reiniciar {
background: #f60505;
}