.contador {
   min-width: 300px;
   height: 300px;
   padding: 25px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 160px;
   color: #fff;
   background: #333;
   border-radius: 10px;
   border: 8px solid white;
   margin-bottom: 15px;
}